

img {
  width: 300px;
}

.myClass{color:blue;}

h1 {
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
}

.bgImgDefault {
  width: 800px;
  aspect-ratio: 7/2; /* https://caniuse.com/mdn-css_properties_aspect-ratio */
  background-size: cover;
}

.cssBackgroundImg {
  background-image: url(../img/logo1.png);
}
.cssBackgroundImg:hover {
  background-image: url(../img/logo1-unbrand.png);
  cursor:crosshair;
}

